.filter-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.search-input {
  flex-grow: 1;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: #333;
  color: var(--text-color);
}

.filter-select {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: #333;
  color: var(--text-color);
}